start_date = 2017-05-05 17:21:00
end_date = 2017-05-08 17:23:01
out_file = output_files/testout.csv
warn_file = output_files/warn.csv
error_file = output_files/errors.csv
event_file = output_files/events.csv
kml_location = input_files/scenario.kml
entity_location = input_files/test_entity.txt
states_location = input_files/test_state.txt
process_location = input_files/test_process.txt
event_location = input_files/event_list.txt
server_uri = http://127.0.0.1:5000
this should be ignored
//state_file_directory: /scenario/states/
//process_file_directory:
//entity_file_directory:
//kml_file_location:
//simevent_file_location: